[submodule "libevent/src"]
	path = libevent/src
	url = https://github.com/nmathewson/Libevent.git
[submodule "hiredis/src"]
	path = hiredis/src
	url = https://github.com/redis/hiredis.git
[submodule "glog/src"]
	path = glog/src
	url = https://github.com/google/glog.git
[submodule "protobf/src"]
	path = protobf/src
	url = https://github.com/google/protobuf.git
[submodule "gtest/src"]
	path = gtest/src
	url = https://github.com/google/googletest.git
[submodule "zlib/src"]
	path = zlib/src
	url = https://github.com/madler/zlib.git
[submodule "curl/src"]
	path = curl/src
	url = https://github.com/curl/curl.git
[submodule "easyloggingpp/src"]
	path = easyloggingpp/src
	url = https://github.com/muflihun/easyloggingpp.git
[submodule "flatbuffers/src"]
	path = flatbuffers/src
	url = https://github.com/google/flatbuffers.git
[submodule "mathfu/src"]
	path = mathfu/src
	url = https://github.com/google/mathfu.git
[submodule "lipgep/src"]
	path = lipgep/src
	url = https://github.com/google/libgep.git
[submodule "mysql-connector-cpp/src"]
	path = mysql-connector-cpp/src
	url = https://github.com/mysql/mysql-connector-cpp.git
[submodule "rapidjson/src"]
	path = rapidjson/src
	url = https://github.com/Tencent/rapidjson.git
[submodule "rapidxml/src"]
	path = rapidxml/src
	url = https://github.com/dotlive/rapidxml.git
[submodule "7z"]
	path = 7z
	url = https://github.com/mcmilk/7-Zip-zstd.git
